<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Forget about this website options</title>
</head>
<body>
    <p>
        When the toolbar button is clicked, this addon will delete
        cookies and/or localstorage for the active website.
    </p>
    <div><label><input type="checkbox" name="cookies"> Cookies</label></div>
    <div><label><input type="checkbox" name="localStorage"> LocalStorage</label></div>
    <p id="last-saved" style="display:none"></p>
</body>
</html>
