<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Forget about this website options</title>
</head>
<body>
    <p>
        This addon will delete data for the active website when the toolbar button is clicked.
        <br><strong>Permanently delete the following items:</strong>
    </p>
    <div><label><input type="checkbox" name="cache"> Cache</label></div>
    <div><label><input type="checkbox" name="cookies"> Cookies</label></div>
    <div><label><input type="checkbox" name="downloads"> Download history</label></div>
    <div><label><input type="checkbox" name="formData"> Form data</label></div>
    <div><label><input type="checkbox" name="history"> History</label></div>
    <div><label><input type="checkbox" name="indexedDB"> IndexedDB data</label></div>
    <div><label><input type="checkbox" name="localStorage"> LocalStorage data</label></div>
    <div><label><input type="checkbox" name="passwords"> Passwords</label></div>
    <div><label><input type="checkbox" name="pluginData"> Plugin data</label></div>
    <div><label><input type="checkbox" name="serverBoundCertificates"> TLS certificates</label></div>
    <div><label><input type="checkbox" name="serviceWorkers"> Service workers</label></div>
    <p id="last-saved" style="display:none"></p>
</body>
</html>
