<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title data-message="extensionName"></title>
    <style>.help{ opacity: 0.7; margin-left: 5px }</style>
</head>
<body>
    <p data-message="deleteItems"></p>
    <div><label><input type="checkbox" name="cookies"><span data-message="cookies"></span></label></div>
    <div><label><input type="checkbox" name="localStorage"><span data-message="localStorage"></span></label></div>
    <div><label><input type="checkbox" name="history"><span data-message="history"></span></label></div>
    <div><label><input type="checkbox" name="downloads"><span data-message="downloads"></span></label></div>
    <p data-message="beforeDeleting"></p>
    <div>
        <label><input type="checkbox" name="closeTab"><span data-message="closeTab"></span></label>
        <small class="help" data-message="closeTabHelp"></small>
    </div>
    <p data-message="afterDeleting"></p>
    <div><label><input type="checkbox" name="showNotification"><span data-message="showConfirmation"></span></label></div>
    <div>
        <label><input type="checkbox" name="refreshPage"><span data-message="reloadWebsite"></span></label>
    </div>
    <p id="last-saved" style="display:none"></p>
</body>
</html>
